@font-face {
    font-family: ReportRegular;
    src: url(ReportRegular.ttf);
}

.formulario{
  background-image: url("../images/prometeo.jpg");
}

.campos{
  width:150px;
  height:30px;
  position: relative;
  top: 200px; left: 20%;
  border-radius:15px;
  font-family:ReportRegular;
  font-weight: bold;
  font-size: 200%;
  text-align: center;
}

#user{
  border-radius:15px;
}

#password{
  border-radius:15px;
}

#submit{
  width: 100px;
  height: 30px;
  border-radius:15px;
}
